# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
*.spec
*.manifest

# Virtual env
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Loot / exfil
loot/
screenshot*.png
webcam*.png
*.zip

# Docker
docker-compose.override.yml

# Logs
*.log

c-implant/agent_linux
c-implant/agent.exe
c-implant/stager_linux
